.b-footer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 20px;

    .b-footer__img {
        width: 110px;
        height: 40px;
    }

    .b-footer__a {
        text-decoration: none;
    }

    .b-footer__links {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .b-links--size {
        font-size: 20px;
    }
    
}

.b-footer__list {
    
    margin: 15px;

    .b-footer__li {
        list-style: none;
    }
}