.b-header__head {
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: var(--morado);
   padding: 15px;
}

.b-header {
    background-color: var(--morado);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100vh;


    .b-icon {
        font-size: 20px;
        color: white;
    }

    &__img {
        width: 90px;
        height: 30px;
    }

    &__text {
        height: 200px;
        margin: 0 20px;        
    }

    &--h1 {
        margin-bottom: 10px;
    }

    .b-container--buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 90px 0 40px 0;
        width: 100%;
    }

    .b-button {
        padding: 20px;
        width: 90%;
        margin: 10px;
        border-radius: 5px;
    }

    .b-chat__img {
        width: 100%;
    }
}

/*CAJA CON MANO*/

.b-box-hand {
    position: fixed;
    top: 90%;
    left: 70%;
    width: 60px;
    height: 60px;
    background-color: var(--morado);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--amarillo);
    border-radius: 4px;
    font-size: 2rem;
}


@media screen and (min-width: 576px) {
    .b-header {
        flex-direction: row;
    }

    .b-box-hand {
        top: 90%;
        left: 95%;
    }
}


