.b-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    padding-top: 20px;

    &__box {
        padding-top: 40px;
    }

    &__img {
        margin-bottom: 30px;
    }

    &__img--letf {
        display: flex;
        justify-content: flex-end;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    &__p {
        margin-bottom: 10px;
    }

    &__text {
        padding: 20px;
    }

    &__a {
        text-decoration: none;
    }
}